<!-- Home -->

<div class="home">
    <!-- Background image artist https://unsplash.com/@thepootphotographer -->
    <div class="home_background parallax_background parallax-window" data-parallax="scroll" data-image-src="assets/images/about.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">A propos de nous</div>
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>A propos de nous </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->

<div class="about">
    <div class="container">
        <div class="row about_row row-lg-eq-height">
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="about_title">DIGIDIPLOME</div>
                    <div class="about_text">
                        <p>
                            DigiDiplôme est une plateforme de certification numérique sécurisée. Gérez vos diplômes en ligne et partagez-les facilement avec les employeurs et les établissements d'enseignement. Simplifiez votre parcours éducatif et professionnel avec DigiDiplôme.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image"><img src="assets/images/about_5.jpg" alt="https://unsplash.com/@jtylernix"></div>
            </div>
        </div>
        <div class="row about_row row-lg-eq-height">
            <div class="col-lg-6 order-lg-1 order-2">
                <div class="about_image"><img src="assets/images/about_2.jpg" alt=""></div>
            </div>
            <div class="col-lg-6 order-lg-2 order-1">
                <div class="about_content">
                    <div class="about_title">Notre  Vision</div>
                    <div class="about_text">
                        <p>Notre vision est de créer un écosystème où les certifications sont facilement accessibles, vérifiables et sécurisées grâce à la technologie de la blockchain. Nous visons à rendre la certification numérique la norme mondiale, offrant commodité, sécurité et efficacité aux utilisateurs. Avec DigiDiplôme, ouvrez les portes d'un avenir éducatif et professionnel simplifié et puissant.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Milestones -->

<div class="milestones">
    <!-- Background image artis https://unsplash.com/@thepootphotographer -->
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets/images/milestones.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row milestones_container">
                        
            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="assets/images/milestone_1.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="1548">0</div>
                    <div class="milestone_text">Online Courses</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="assets/images/milestone_2.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="7286">0</div>
                    <div class="milestone_text">Students</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="assets/images/milestone_3.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="257">0</div>
                    <div class="milestone_text">Teachers</div>
                </div>
            </div>

            <!-- Milestone -->
            <div class="col-lg-3 milestone_col">
                <div class="milestone text-center">
                    <div class="milestone_icon"><img src="assets/images/milestone_4.svg" alt=""></div>
                    <div class="milestone_counter" data-end-value="39">0</div>
                    <div class="milestone_text">Countries</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Teachers -->

<div class="teachers">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="teachers_title text-center">Notre équipe</div>
            </div>
        </div>
        <div class="row teachers_row">
            
            <!-- Teacher -->
            <!-- <div class="col-6">
                <div class="teacher">
                    <div class="teacher_image"><img src="assets/images/teacher_1.jpg" alt="https://unsplash.com/@nickkarvounis"></div>
                    <div class="teacher_body text-center">
                        <div class="teacher_title"><a href="#">Jonathan Smith</a></div>
                        <div class="teacher_subtitle">Marketing</div>
                        <div class="teacher_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Teacher -->
            <!-- <div class="col-6">
                <div class="teacher">
                    <div class="teacher_image"><img src="assets/images/teacher_2.jpg" alt="https://unsplash.com/@rawpixel"></div>
                    <div class="teacher_body text-center">
                        <div class="teacher_title"><a href="#">Michelle Williams</a></div>
                        <div class="teacher_subtitle">Art & Design</div>
                        <div class="teacher_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Teacher -->
            <div class="col-6">
                <div class="teacher">
                    <div class="teacher_image"><img src="assets/images/teacher_3.jpg" alt="https://unsplash.com/@taylor_grote"></div>
                    <div class="teacher_body text-center">
                        <div class="teacher_title"><a href="#">Awa NDIAYE</a></div>
                        <div class="teacher_subtitle">Chef de projet</div>
                        <div class="teacher_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-6">
                <div class="teacher">
                    <div class="teacher_image"><img src="assets/images/teacher_4.jpg" alt="https://unsplash.com/@benjaminrobyn"></div>
                    <div class="teacher_body text-center">
                        <div class="teacher_title"><a href="#">Habibatou DRAME </a></div>
                        <div class="teacher_subtitle">Developpeur frontend</div>
                        <div class="teacher_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-6">
                <div class="teacher">
                    <div class="teacher_image"><img src="assets/images/teacher_5.jpg" alt="https://unsplash.com/@christinhumephoto"></div>
                    <div class="teacher_body text-center">
                        <div class="teacher_title"><a href="#">Mame Diarra Bousso GUEYE</a></div>
                        <div class="teacher_subtitle">Designer</div>
                        <div class="teacher_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teacher -->
            <div class="col-6">
                <div class="teacher">
                    <div class="teacher_image"><img src="assets/images/teacher_6.jpg" alt="https://unsplash.com/@rawpixel"></div>
                    <div class="teacher_body text-center">
                        <div class="teacher_title"><a href="#">Sokhna Magné MBOUP </a></div>
                        <div class="teacher_subtitle">Developpeur fullstack </div>
                        <div class="teacher_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                <div class="button teachers_button"><a href="#">see all teachers<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div>
            </div>
        </div>


    </div>
</div>

<!-- Contact -->

<div class="contact">
    <div class="container-fluid">
        <div class="row row-xl-eq-height">
            <!-- Contact Content -->
            <div class="col-xl-6">
                <div class="contact_content">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="contact_about">
                                <div class="logo_container">
                                    <a href="#">
                                        <div class="logo_content d-flex flex-row align-items-end justify-content-start">
                                            <div class="logo_img"><img src="assets/images/logo.png" alt=""></div>
                                            <div class="logo_text">learn</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="contact_about_text">
                                    <p>Suspendisse tincidunt magna eget massa hendrerit efficitur. Ut euismod pellentesque imperdiet. Cras laoreet gravida lectus, at viverra lorem venenatis in. Aenean id varius quam. Nullam bibendum interdum dui, ac tempor lorem convallis ut. Maecenas rutrum viverra sapien sed fermentum. Morbi tempor odio eget lacus tempus pulvinar.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="contact_info_container">
                                <div class="contact_info_main_title">Contactez nous</div>
                                <div class="contact_info">
                                    <div class="contact_info_item">
                                        <div class="contact_info_title">Address:</div>
                                        <div class="contact_info_line">Dakar Guédiawaye hamo 6</div>
                                    </div>
                                    <div class="contact_info_item">
                                        <div class="contact_info_title">Phone:</div>
                                        <div class="contact_info_line">338370808</div>
                                    </div>
                                    <div class="contact_info_item">
                                        <div class="contact_info_title">Email:</div>
                                        <div class="contact_info_line">digiDiplome@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact_form_container">
                        <form action="#" id="contact_form" class="contact_form">
                            <div>
                                <div class="row">
                                    <div class="col-lg-6 contact_name_col">
                                        <input type="text" class="contact_input" placeholder="Name" required="required">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="email" class="contact_input" placeholder="E-mail" required="required">
                                    </div>
                                </div>
                            </div>
                            <div><input type="text" class="contact_input" placeholder="Subject" required="required"></div>
                            <div><textarea class="contact_input contact_textarea" placeholder="Message"></textarea></div>
                            <button class="contact_button"><span>envoyer</span><span class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Contact Map -->
            <div class="col-xl-6 map_col">
                <div class="contact_map">
                    <iframe
                    src="https://www.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=+Guediawaye&amp;t&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <!-- <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q= Guediawaye&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://gachanox.io/">Gacha Nox</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div> -->
                    <!-- Google Map -->
                    <div id="google_map" class="google_map">
                        <div class="map_container">
                            <div id="map"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
            
    </div>
</div>
<br> <br>
